body{
    font-family: 'Alef', sans-serif;
    font-size: 16px;
    font-weight: 300;

        color: black;
    line-height: 1.5;   
}
h1 {
   font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    color: darkgoldenrod;
}
h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: darkgoldenrod;
}
h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: darkgoldenrod;
}
h4 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: darkgoldenrod;
}
.container {
    max-width: 800px;
    margin: auto;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.cta {
    padding: 14px; 
    background-color: bisque;
    text-align: center;
    margin-top: 50px;
}
.button {
     background: #08c;
    text-decoration: none;
    color: #fff;
    padding: 4px;
    display: inline-block;     
}