body{
    font-family: 'Assistant', sans-serif;
    
    
        color: darkslategrey;
    line-height: 2;
    
}
h2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300
}

h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700
}
