body{
    font-family: 'Assistant', sans-serif;
    
    
        color: maroon;
    line-height: 1.5;
    
}
h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700
    
}

h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;';
    font-weight: 900
}

h4 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700
}
