body {
    font-family: 'Arimo', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Suez One', serif;
}

.about {
    background: #d1f2fb;
    font-size: 21px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.about img {
    max-width: 90%;
    width: auto;
    height: auto;
    display: block;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.button {
    text-decoration: none;
    border: 3px solid #fff;
    padding: 14px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #000;
    transition: 3s;

}
