body {
    font-family: 'Arimo', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Suez One', serif;
    color: #000;
    font-size: 400;
}

.about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-attachment: fixed;
    font-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.container {
  max-width:1024px;
  margin: auto;
}
.about .container {
    max-width: 800px;
    margin: auto;
    color: #fff;
}

.about img {
    max-width: 90%;
    width: auto;
    height: auto;
    display: block;
    padding-top: 30px;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 30px;
}
.about h1{
    color: #fff;
    font-weight: 400;
}
.button {
    text-decoration: none;
    border: 3px solid #fff;
    padding: 14px 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
}

.button:hover {
    background: #fff;
    color: #000;
    transition: 2s;

}

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #000;
    

}

.gallery img {
    display: block;
    max-width: 90%;

}

h2 {
    font-size: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.logo {
    max-width: 60px;
    display: block;
    margin: 10px auto;
}

.contact {
    background: #CDF2FF;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    color: #000;
}

.contact a:hover {
    opacity: 0.7;
    text-decoration-line: underline;
    
}

.contact ul {
    list-style: none;
    padding: 0;
    color: #000;
    font-size: 18px;
}

.contact li {
    margin-bottom: 7px;
    color: #000;
}
.contact h2{
    font-size: 28px;
}

.footer {
    background: #000;
    text-align: center;
    padding: 40px 0;
}

.footer a {
    margin: 0 10px;
}

a {
    color: #000;
    text-decoration: none;
}

